<div class="footer-wrapper">
<div class="footer">
    <div style="font-size: larger;font-weight: bold;">Follow us at</div>
    <a href="https://www.facebook.com/Xponential.Analytics " target="_blank">
        <fa-icon style="color: royalblue;" size="2x" style="color:#34a4eb" [icon]="faFacebook"></fa-icon>
    </a>
    <a href="https://www.instagram.com/xponential.analytics/" target="_blank">
        <fa-icon size="2x" style="color:#C13584;" [icon]="faInstagram"></fa-icon>
    </a>
    <a href="https://twitter.com/xpoanalytics" target="_blank">
        <fa-icon size="2x" style="color:#34a4eb" [icon]="faTwitter"></fa-icon>
    </a>
    <a href="https://www.youtube.com/channel/UCK7_7Hh45nQPaoaEGP9yHYw" target="_blank">
        <fa-icon size="2x" style="color:#c4302b" [icon]="faYoutube"></fa-icon>
    </a>
    <!-- <a href="http://t.me/xponential_in" target="_blank">
        <fa-icon size="2x" style="color:#34a4eb" [icon]="faTelegram"></fa-icon>
    </a> -->
</div>
</div>